// Pink
$pink23756104: #ed3868;
$pink82b59: #d82b59;
$mainBgBody: #faf9ed;

$primary: #7fc728;
$secondary: #ffd33c;

$MainText: #aaa;

// nav colors
$MainWhiteColor: #fff;
$MainBlueColor: #0d171b;
$MainTextColor: #f8f8f8;
$NavActiveColor: #15c559;
$NavActiveColorD: #0ba345;
$lightGrayColor: #aca7a7;
$warningDark: #11080d;
$greyWhite: #f5f2f2;
$MainOrangeColor: #ff4a17;
$OrangeHover: #bd340f;
$lightWeightColor: #57bdbd;
$SocialIconColor: #086afc;
$SocialIconHover: #174c77;
$dark: #000;
