@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variable";
@import "../../components/main-nav/main-nav.scss";

@import "bootstrap/dist/css/bootstrap.min.css";
@import "./bootstrap-override.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $mainBgBody;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $NavActiveColorD;
}

.scrollToTop {
  position: fixed;
  top: auto;
  bottom: 25px;
  left: auto;
  right: 10px;
  z-index: 1000;
  transition: all 0.5s;

  .scrollUp {
    background: transparent;
    border: none;
    background-color: $primary;
    padding: 10px;
    border-radius: 3px;
    svg {
      color: $MainTextColor;
    }
  }
}
